/*css for color pallate*/

.Aligner {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.Aligner-item {
  max-width: 50%;
}

.page-header {
    background: #142755;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-subheader {
    background: #0066cc;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-disableheader {
    background: #3d4558;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-secondary {
    background: #999999;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-success {
    background: #aaf455;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-info {
    background: #00b7ff;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-danger {
    background: #ce392b;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-warning {
    background: #f69f2a;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.page-alert {
    background: #7ac558;
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.palletContainer{
    width: 77.7%;
    margin: auto;
}